<a href="https://colab.research.google.com/github/MachadoDeveloper/MachadoDeveloper/blob/main/Matplotlib_PLOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
upload = files.upload()

Saving Pessoas.xlsx to Pessoas (1).xlsx

In [ ]:
Pessoas = pd.read_excel('Pessoas.xlsx')
Pessoas.head()

,Codigo,PrimeiroNome,UltimoNome,email,Genero,Avatar,Pais,Nascimento,Idade,Salario
0,1,Emmey,Armfield,earmfield0@plala.or.jp,Female,https://robohash.org/eaestnon.png?size=50x50&s...,Mexico,1978-10-21,44,4783
1,2,Antonius,Sokill,asokill1@businesswire.com,Male,https://robohash.org/etdoloribusvoluptatum.png...,Greece,1981-02-09,41,9033
2,3,Iggie,Rens,irens2@intel.com,Male,https://robohash.org/temporesuntpariatur.png?s...,China,1975-08-10,47,9307
3,4,Essie,Annetts,eannetts3@jimdo.com,Female,https://robohash.org/rerumiustofugiat.png?size...,Indonesia,1986-11-23,36,3204
4,5,Maud,Sabathier,msabathier4@msu.edu,Female,https://robohash.org/eaquequifugit.png?size=50...,Philippines,1980-08-31,42,6998

In [ ]:
Pessoas.shape

(1000, 10)

In [ ]:
Salarios = Pessoas[Pessoas.Salario >=0].Salario #por que temos que aplicar os filtros ??
Salarios

0      4783
1      9033
2      9307
3      3204
4      6998
       ...
995    7541
996    9430
997    7116
998    9185
999    1369
Name: Salario, Length: 1000, dtype: int64

In [ ]:
Idades = Pessoas.loc[Pessoas.Idade].Idade # Pessoas.loc[Pessoas.Idade]['Idade']
Idades

In [ ]:
Pessoas.loc[Pessoas.Idade <=30]['Idade']

In [ ]:
plt.bar(Idades,Salarios, color='red')
plt.xlabel('Idades')
plt.ylabel('Salários')
plt.show()

In [ ]:
Pessoas.loc[Pessoas.Idade >=0, 'Idade']

In [ ]:
Pessoas[(Pessoas.Idade >=18) & (Pessoas.Idade <= 30)]

,Codigo,PrimeiroNome,UltimoNome,email,Genero,Avatar,Pais,Nascimento,Idade,Salario
11,12,Tabb,Tregea,ttregeab@google.com,Male,https://robohash.org/placeatidet.png?size=50x5...,Ukraine,1996-08-21,26,4803
17,18,Dalis,Springthorp,dspringthorph@forbes.com,Male,https://robohash.org/voluptatemsitat.png?size=...,Poland,1995-12-10,27,4060
18,19,Shelley,Voules,svoulesi@is.gd,Male,https://robohash.org/delenitipraesentiumvelit....,Brazil,1998-09-14,24,4235
19,20,Dorey,Circuit,dcircuitj@newyorker.com,Female,https://robohash.org/suntquiamodi.png?size=50x...,Denmark,1997-09-07,25,3012
26,27,Geoff,Purves,gpurvesq@paypal.com,Male,https://robohash.org/eosquasiest.png?size=50x5...,Portugal,1995-02-09,27,3386
...,...,...,...,...,...,...,...,...,...,...
971,972,Warden,Keese,wkeeseqz@angelfire.com,Male,https://robohash.org/similiquequiacum.png?size...,Indonesia,1996-02-28,26,7042
978,979,Basile,Boutell,bboutellr6@tmall.com,Male,https://robohash.org/eligendinostrumquas.png?s...,China,2000-11-16,22,9387
982,983,Quint,Tolcharde,qtolchardera@shop-pro.jp,Male,https://robohash.org/enimautemaccusamus.png?si...,Greece,1994-01-16,28,3596
985,986,Cathy,Karpenya,ckarpenyard@tamu.edu,Female,https://robohash.org/sedverosaepe.png?size=50x...,France,1993-01-31,29,1492
993,994,Adrian,Clinkard,aclinkardrl@nifty.com,Male,https://robohash.org/expeditaabet.png?size=50x...,China,1996-12-07,26,4198

In [ ]:
Pessoas.groupby(['Idade']).mean()

           Codigo      Salario
Idade
22     545.900000  5813.533333
23     492.542857  5624.342857
24     528.120000  4982.000000
25     609.840000  5599.720000
26     468.966667  5297.866667
27     404.000000  5183.062500
28     487.794118  5233.764706
29     551.634146  5174.707317
30     475.913043  5431.043478
31     520.689655  5451.482759
32     473.333333  5217.541667
33     560.142857  5563.047619
34     514.682927  6047.536585
35     516.000000  6401.108108
36     540.114286  5542.257143
37     516.275862  5630.517241
38     476.064516  5589.774194
39     544.548387  5862.838710
40     559.157895  4778.500000
41     485.911765  6154.000000
42     413.060606  6157.030303
43     456.103448  5027.517241
44     464.324324  6181.648649
45     426.848485  6442.666667
46     507.571429  6405.964286
47     542.410256  5085.743590
48     485.354167  5840.229167
49     511.878788  5602.818182
50     454.461538  4742.000000
51     476.766667  5426.333333
52     507.461538  6723.666667

In [ ]:
Pessoas.loc[Pessoas.Idade == 44].Salario.mean()

6181.648648648648